@import url('https://fonts.googleapis.com/css?family=Lato|Sorts+Mill+Goudy');

body{
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: inherit;
  font-family: sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  width: 100%;
  margin-bottom: 25px;
}

/*********************************HEADER*****************************/
header{
  width: 100%;
  height: 60px;
  background: #000000;
  color: rgb(212, 170, 115);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; /*Lo coloca por encima de los demas elementos*/
  font-family: 'Lato', sans-serif;
}

.container{
  width: 98%;
  margin: auto;
}

header .container{
  display: table;
}

.logo{
  width: 40px;
  height:40px;
  position: relative;
  float: left;
  margin: 10px 0 0 0;
}

/*********************************MENU*****************************/
#menu-bar{
  display: none;
}

header label{
  float: right;
  margin: 6px 0;
  cursor: pointer;
  font-size: 28px;
}

.menu{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(7, 7, 14, 0.9);
  transition: all 0.5s;
  transform: translateX(-100%);
}

.menu a{
  display:block;
  color:#E9C361;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 0.5px solid rgba(255,255,255, 0.5);
}

.menu a:hover{
  background: rgba(255,255,255, 0.3);
}

#menu-bar:hover ~ .menu{
  transform: translateX(0%);
}

/*********************************BANNER*****************************/
#logo-lol{
  width: 30px;
  height: 15px;
  margin:20px auto 0;
  text-align: center;
  display: block;
  float: left;
  display: none;
}

#banner{
  margin-top: 50px;
  position: relative;
}

#banner img{
  width: 100%;
  height: 100%;
}

#banner .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  color: rgb(233, 233, 233);
}

#banner h1{
  font-size: 20px;
  width: 80%;
  float: left;
  padding: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-shadow: 15px 15px 50px rgb(0, 1, 2);
  letter-spacing: 2px;
}

#banner a{
  display: block;
  float: left;
  width: 30%;
  text-align: center;
  padding: 7px;
  margin-left: 10px;
  color:rgb(233, 233, 233);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.712);
  border: 1px solid rgba(0, 0, 15, 0.966);
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 200;
  border-radius: 5px;
}

#banner a:hover{
  background:rgb(0, 0, 0);
  color:rgb(160, 141, 56); 
  font-weight: 700;
}

/*********************************CAMPEONES*****************************/
.bienvenida h2{
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 28px;
  color:rgb(241, 175, 112);
}

.description-text{
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  color: rgb(153, 150, 150);
  margin: 10px  10px;
}

.img-principal{
  width: 100%;
}

.nombre-del-campeon{
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 38px;
  font-weight: bolder;
  font-variant-caps: all-small-caps;
  color: rgb(20, 20, 20);
}

.titulo-del-campeon{
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  color: rgb(117, 85, 26);
}

.blurb-del-campeon{
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  text-align: justify;
  color: rgb(27, 27, 27);
  padding: 5px; 
}
.niveles-del-campeon{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  color: rgb(51, 51, 51);
  padding: 5px; 
  margin: 2px;
  padding-bottom: 15px;
}

label .nivel-en-numero{
  font-weight: bolder;
  color: rgb(17, 17, 17);
}
.rol-del-campeon{
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  color: rgb(117, 85, 26);
  background-color: #000000;
}

.elemento{
  flex-basis: 200px;
  max-height: 420px;
  display: block;
  margin: 10px;
  text-align: center;
  align-content: center;
  border: 5px double rgb(185, 185, 185);
  border-radius: 3px;
  background-color: rgba(248, 224, 196, 0.9);
}


#descripion-de-los-top-5{
  position: relative;
  align-content: center;
  color: rgb(29, 29, 29);
}

div .todos-los-campeones{
  display: block;
  margin: auto;
  align-content: center;
}

/************BOTON TODOS LOS CAMPEONES: Lleva a la segunda historia*****************/
.todos-los-campeones{
  background: #ffd56b;
  background-image: -webkit-linear-gradient(top, #ffd56b, #664100);
  background-image: linear-gradient(to bottom, #ffd56b, #664100);
  border-radius: 10px;
  font-family: 'Sorts Mill Goudy', serif;
  color: #161616;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: block;
}
  
.todos-los-campeones:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}
    

.end{
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 25px;
  color:rgb(238, 240, 235);
  padding: 10px;
  justify-content: center;
  
}

/************VIDEO TUTORIAL*****************/
iframe{
  display: block;
  margin: auto;
  align-content: center;
}

/************ESTILO DE SEGUNDA HISTORIA: CARD DE ROLES*****************/
.elemento-to-roles{
  flex-basis: 200px;
  height: 430px;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  border: 5px double rgb(238, 198, 98);
}

.img-ppl-role{
  max-height: 410px;
}

.roles-titulo{
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 28px;
  color:rgb(241, 175, 112);
  margin:80px auto 10px auto;
}

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(231, 181, 73);
  cursor: pointer;
  padding: 15px;
  border-radius: 60px;
  border-color: #664100
}

/*ESTILOS DE LA TERCERA HISTORIA*/
.elemento-avatar{
  flex-wrap: wrap;
  width: 250px;
  height: 70px;
  margin: 5px 10px 5px 10px;
  text-align: center;
  align-content: center;
  border: 5px double rgb(238, 198, 98);
  border-radius: 3px;
  background-color: rgba(248, 224, 196, 0.9);
}

.elemento-avatar .avatar-div{
  width: 30%;
  height: 70px;
  float: left;
}

.elemento-avatar .text-div{
  width: 70%;
  height: 70px;
  float: right;
}

.avatar{
  top:10px;
  bottom: 5px;
  width: 58px;
  height: 58px;
}

div .nombre-en-rol{
  font-size: 25px;
  margin: 0px;
}

.elemento-avatar .titulo-en-rol{
  font-size: 15px;
}

#todos-los-campeones-por-rol{
  display: block;
  margin: auto;
}




/************ESTILO DEL FOOTER*****************/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgb(0, 0, 0);
  margin-bottom: 0;
  margin-top: 3rem;
  left: 0;
  z-index: 100;
  max-width: 100%;
  max-height:50%; 
}

footer p{
  font-family: 'Sorts Mill Goudy', serif;
  text-align: center;
  color: rgb(121, 121, 121);
  font-size: 13px;
  padding: 10px;
}

#logo-en-footer{
  margin: auto;
  justify-content: center;

}

footer img {
  max-width: 70px;
  max-height:30px; 
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}

footer #redes-en-footer{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  color: aliceblue;
}
footer #logo-en-footer{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;

}

footer a{
  color: aliceblue;
  text-decoration: none;
}

a + a{
  margin-left: 15px;
}

#titulo-campeones-por-rol{
  color: aquamarine;
}